.el-dialog__wrapper {
  &>.el-dialog {
    max-width: 100%;
    border-radius: 4px;
    overflow: hidden;
    &.is-fullscreen {
      background-color: #fafafa;
      border-radius: 0;
      margin-top: 0!important;
      left: 0!important;
      top: 0!important;
      .el-dialog__header {
        background-color: #fff;
      }
    }
    .el-dialog__header {
      position: relative;
      padding: 15px;
      border-bottom: 1px solid rgba(0,0,0,.03);
      .el-dialog__title {
        font-size: 16px;
        line-height: 20px;
      }
      .el-dialog__headerbtn {
        top: 50%;
        right: 15px;
        width: 16px;
        height: 16px;
        text-align: center;
        margin-top: -8px;
        .el-dialog__close {
          vertical-align: 3px;
        }
      }
    }
    .el-dialog__body {
      text-align: left;
      padding: 0;
      background-color: #fafafa;
    }
    &>.el-dialog__footer {
      position: relative;
      padding: 15px;
      border-top: 1px solid rgba(0,0,0,.03);
      .el-button {
        &+.el-button {
          margin-left: 8px;
        }
      }
    }
  }
}

.el-menu-item,
.el-submenu__title {
  *:not(i) {
    vertical-align: baseline!important;
  }
  i {
    vertical-align: -2px!important;
  }
}

.el-menu--horizontal {
  .el-menu {
    .el-menu-item,
    .el-submenu__title {
      padding: 0 12px!important;
      color: #303133!important;
      font-size: 12px;
      border-bottom-color: transparent;
      i {
        color: #606266;
        font-size: 15px;
        margin-right: 4px;
      }
      &:hover {
        background-color: #f9f9f9!important;
      }
    }
  }
  .el-menu--popup {
    min-width: 160px;
  }
}

.el-menu--vertical {
  .el-menu {
    .el-menu-item,
    .el-submenu__title {
      padding-right: 5px;
      height: 42px;
      font-size: 13px;
      line-height: 38px;
      overflow: hidden;
      text-overflow: ellipsis;
      * {
        vertical-align: baseline;
      }
      span {
        font-weight: normal;
      }
      i {
        margin-right: 5px!important;
        &.el-submenu__icon-arrow {
          font-size: 12px!important;
          right: 10px;
          margin-top: -6px;
        }
      }
    }
    .el-submenu {
      .el-menu {
        .el-menu-item,
        .el-submenu__title {
          height: 42px!important;
          font-size: 12px;
          line-height: 38px!important;
        }
      }
    }
  }
}

.el-scrollbar {
  &>.el-scrollbar__wrap {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    &>.el-scrollbar__view {
      max-height: 100%;
    }
  }
  &>.el-scrollbar__bar {
    border-radius: 0;
    &:hover,
    &:active {
      &>.el-scrollbar__thumb {
        background-color: rgba(144,147,153,.6);
      }
    }
    &>.el-scrollbar__thumb {
      border-radius: 0;
      background-color: rgba(144,147,153,.5);
    }
    &.is-horizontal {
      height: 8px;
    }
    &.is-vertical {
      width: 8px;
    }
  }
}

.el-tabs {
  &>.el-tabs__header {
    &>.el-tabs__nav-wrap {
      .el-tabs__nav-scroll {
        .el-tabs__nav {
          .el-tabs__item {
            &:focus {
              &.is-active {
                &.is-focus {
                  &:not(:active) {
                    box-shadow: none;
                    border-radius: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.el-form {
  &:before {
    content: '';
    display: table;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.el-table {
  color: #303133;
  thead {
    color: #666;
  }
}

.el-select-dropdown {
  overflow: visible!important;
  .el-select-dropdown__wrap {
    .el-select-dropdown__list {
      .el-select-dropdown__item {
        font-size: 12px;
        &.selected {
          font-weight: normal;
        }
      }
    }
  }
  .el-select-dropdown__empty {
    padding: 30px 0;
    font-size: 12px;
  }
}

.el-dropdown-menu {
  overflow: visible!important;
}

.el-tooltip__popper {
  p {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.el-input {
  &>input[type="number"] {
    padding-right: 0;
    box-shadow: none;
  }
}

.el-textarea {
  .el-textarea__inner {
    font-family: inherit;
    height: 80px;
    resize: none;
  }
}

.el-range-editor {
  .el-range-separator {
    width: auto!important;
  }
}

.el-message {
  min-width: 160px!important;
  padding: 15px 18px 15px 15px!important;
  &>.el-message__icon {
    margin-right: 8px;
  }
  &>.el-message__content {
    font-size: 13px;
    line-height: 16px;
  }
}

.el-message-box {
  width: auto!important;
  max-width: 450px;
}

.el-loading-mask {
  &>.el-loading-spinner {
    &>.circular {
      width: 32px;
      height: 32px;
      .path {
        stroke: #303133;
      }
    }
    &>.el-icon-loading {
      color: #303133;
      font-size: 20px;
    }
    &>.el-loading-text {
      color: #303133;
      font-size: 12px;
      line-height: 24px;
    }
  }
}

.loading-mini {
  &>.el-loading-mask {
    &>.el-loading-spinner {
      margin-top: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      &>.circular {
        width: 18px;
        height: 18px;
      }
      &>.el-loading-text {
        margin-left: 8px;
      }
    }
  }
}

#nprogress {
  .bar,
  .spinner {
    z-index: 10031!important;
  }
  .spinner {
    top: 23px;
    right: 9px;
  }
}

.am-engine {
  background-color: transparent!important;
}

.pswp {
  z-index: 19999;
}
